body {
    margin: 20px;
    font-family: "Century Gothic", Futura, sans-serif;
    background-color: lightskyblue;
}

ol,
ul {
    margin: 0;
    padding: 0;
    padding-top: 4px;
    list-style-type: none;
}

.game-board {
    width: 1010px;
    text-align: center;
    /* border: 1px solid black; */
}

.status-message {
    font-size: 24px;
}

.betting-square {
    height: 80px;
    width: 80px;
    margin: 2px;
    background: white;
    border-radius: 16px;
    font-weight: bold;
    border: 3px solid black;

    /* TODO this can go away if we make this element not a button */
    font-family: inherit;
}

.square-label {
    font-size: 24px;
}

.square-bet-amount {
    font-size: 16px;
}

.game-info {
    width: 1010px;
    text-align: center;
    margin-left: 10px;
    display: flex;
    justify-content: center;
    /* border: 2px solid black; */
}

.game-info>div {
    width: 600px;
}

.betting-history {
    /* border: 2px solid red; */
}

.player-info {
    /* border: 2px solid green; */
}

/* TODO change this to not a button, unless we're going to do something with it */
.betting-history-button {
    text-align: left;
    font-size: 16px;
    font-family: inherit;
    width: 80px;
    margin: 1px;
}