body {
    margin: 20px;
    font-family: "Century Gothic", Futura, sans-serif;
    background-color: #016D29;
}

ol,
ul {
    margin: 0;
    padding: 0;
    padding-top: 4px;
    list-style-type: none;
}

.game-board {
    width: 1000px;
    text-align: center;
    border: 2px solid pink;
}

.status-message {
    font-size: 24px;
}

.betting-square {
    height: 120px;
    width: 80px;
    margin: -1px;

    font-weight: bold;
    border: 1px solid white;

    /* TODO this can go away if we make this element not a button */
    font-family: inherit;
    color: white;
}

.square-label {
    font-size: 24px;
}

.square-bet-amount {
    font-size: 16px;
}

.game-info {
    width: 1010px;
    text-align: center;
    margin-left: 10px;
    display: flex;
    justify-content: center;
    border: 2px solid pink;
    margin-top: 20px;
}

.game-info>div {
    width: 600px;
}

.betting-history {
    border: 2px solid pink;
}

.player-info {
    border: 2px solid pink;
}

/* TODO change this to not a button, unless we're going to do something with it */
.betting-history-button {
    text-align: left;
    font-size: 16px;
    font-family: inherit;
    width: 80px;
    margin: 1px;
}